@font-face {
  font-family: "Glockenspiel";
  src: url("assets/fonts/Glockenspiel.ttf") format("truetype");
}

:root {
  --accent-color: #9785e6;
  --color-dark: #101010;
  --color-light: #ececec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-light);
  background-color: var(--color-dark);
  font-family: "Bricolage Grotesque";
  font-weight: 200;
  overflow-x: hidden;
}

nav {
  mix-blend-mode: difference;
}

section {
  height: 100vh;
  height: 100svh;
  width: 100vw;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Glockenspiel", Gloock, sans-serif;
  background-image: url("assets/images/landing_bg.png");
  background-position: center;
  background-size: cover;
}

.landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.wrapper {
  overflow-x: hidden;
}

.container {
  /* width: 600vw; */
  display: flex;
  background-image: linear-gradient(to right, var(--color-dark), white);
  background-size: cover;
}

.container > section {
  width: calc(100vw + 1px);
  margin-left: -1px;
  flex-shrink: 0;
}

#first-section {
  width: 100vw;
}

.scroll-arrow {
  padding: 1rem;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
}

.scroll-arrow > img {
  width: 2rem;
}

h1 {
  font-size: 7rem;
  z-index: 1;
  text-align: center;
  color: #fff;
}

.paragraph {
  display: flex;
  flex-direction: column;
  max-width: 75ch;
}

.date {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 4.25rem;
}

.section-title {
  font-size: 3.25rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.content {
  font-size: 1.75rem;
}

section.babbage {
  background-color: var(--color-dark);
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

section.babbage .img-babbage {
  width: 20rem;
}

section.context {
  color: var(--color-dark);
  position: relative;
}

section.context > .paragraph {
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 1;
}

section.context .bg-img-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}

section.context .bg-img-wrapper .bg-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0 -100px;
}

section.context .bg-img-wrapper .bg-img-container > img {
  width: 100%;
}

section.context .paragraph {
  padding: 2rem;
  background-color: var(--color-light);
}

section.context .section-title {
  font-size: 2.25rem;
}

section.context .content {
  font-size: 1.25rem;
  font-family: "IBM Plex Mono";
}

section.archi {
  background: linear-gradient(to right, #803d23, #ffffff);
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

section.archi .paragraph {
  color: var(--color-dark);
  max-width: 65vw;
  left: 0;
}

section.archi .content p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

section.archi .cartes-list {
  margin-left: 3rem;
  max-width: 55vw;
}

section.archi .img-schema {
  width: 20rem;
}

section.schema {
  background-image: url("assets/images/schema2.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

section.lovelace {
  background: linear-gradient(to right, #ffffff, #e9b953);
  color: var(--color-dark);
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

section.lovelace .img-lovelace {
  width: 30rem;
}

section.money {
  background: linear-gradient(to right, #e9b953, #773f25);
  color: var(--color-light);
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

section.money .img-money {
  width: 20rem;
  margin: 5rem;
}

section.heritage {
  background-image: url("assets/images/vitrine.png");
  background-position: center;
  background-size: cover;
  color: var(--color-dark);
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

section.heritage .paragraph {
  padding: 2rem;
  background-color: var(--color-light);
}

section.conclusion {
  background-image: url("assets/images/conclusion_bg.jpg");
  background-position: center;
  background-size: cover;
  color: var(--color-light);
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.conclusion-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

section.conclusion .paragraph {
  position: relative;
  z-index: 1;
}

section.conclusion .section-title {
  font-family: "Glockenspiel", sans-serif;
  font-size: 10rem;
  font-weight: 600;
}

section.conclusion .paragraph {
  text-align: center;
  font-weight: bold;
}

#cursor-box {
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  backdrop-filter: invert();
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  transition: transform 0.2s ease;
  transform-origin: center;
}
