@font-face {
  font-family: "Glockenspiel";
  src: url("assets/fonts/Glockenspiel.ttf") format("truetype");
}

:root {
  --accent-color: #9785e6;
  --color-dark: #101010;
  --color-light: #ececec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-light);
  background-color: var(--color-dark);
  font-family: "Bricolage Grotesque";
  font-weight: 200;
  overflow-x: hidden;
}

section {
  height: 100vh;
  height: 100svh;
  width: 100vw;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Glockenspiel", sans-serif;
  background-image: url("assets/images/landing_bg.png");
  background-position: center;
  background-size: cover;
}

.landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.wrapper {
  overflow-x: hidden;
}

.container {
  width: 200vw;
  display: flex;
}

.scroll-arrow {
  padding: 1rem;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
}

.scroll-arrow > img {
  width: 2rem;
}

h1 {
  font-size: 7rem;
  z-index: 1;
  text-align: center;
  color: #fff;
}

.paragraph {
  display: flex;
  /* height: fit-content; */
  flex-direction: column;
  max-width: 75ch;
}

.date {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 4.25rem;
}

.section-title {
  font-size: 3.25rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.content {
  font-size: 1.75rem;
}

section.babbage {
  background-color: var(--color-dark);
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

section.babbage .img-babbage {
  width: 20rem;
}

section.context {
  color: var(--color-dark);
  position: relative;
}

section.context > .paragraph {
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 1;
}

section.context .bg-img-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

section.context .bg-img-wrapper > img {
  width: 120%;
}

section.context .paragraph {
  padding: 2rem;
  background-color: var(--color-light);
}

section.context .section-title {
  font-size: 2.25rem;
}

section.context .content {
  font-size: 1.25rem;
  font-family: "IBM Plex Mono";
}

#cursor-box {
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  backdrop-filter: invert();
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  transition: transform 0.2s ease;
  transform-origin: center;
}
